<div>
  <form class="form-inline my-2 my-lg-0">
    <input type="filter" (ngModelChange)="filterPersonsByLocation(location.value)" #location="ngModel" ngModel
           name="location" id="filter" class="form-control mr-sm-2" placeholder="Filter persons" required>
  </form>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{person.firstName}} {{person.lastName}}</td>
        <td>{{person.email}}</td>
        <td>{{person.location}}</td>
      </tr>

    </tbody>
  </table>
</div>
